/* You won't need much styling for making this pretty, it's important though, that you make the screen adaptable and place text in an organized fassion. */
/* flex is important */
body {
    display: flex;
    flex-direction: column;
    line-height: 1.8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    display: flex;
    margin: auto;
}
.startButton {
    display: flex;
    margin: auto;
    border: 3px solid black;
    border-radius: 8px;
    padding: 3px;
    margin-top: 8px;
}
.hidden {
    display: none;
}
main {
    display: flex;
    margin: auto;
}
p {
    font-weight: bolder;
    font-size: large;
}
#quiz {
    display:table-column;
    margin: auto;
    padding: 3px;
    margin-top: 8px;
}
#scoreboard {
    display: flex;
    margin: auto;
    padding: 3px;
    margin-top: 8px;
}
#question {
    display: flex;
    margin: auto;
    padding: 3px;
    margin-top: 8px;
}
ul {
    margin: auto;
    padding: 3px;
    margin-top: 8px;
}
li {
    display: flex;
    margin: auto;
    padding: 3px;
    margin-top: 4px;
}
